<div id="footer">
    <div class="f-top">
        <div class="container site-info">
            <div class="clearfix wrap-4c">
                <div class="col col-4">
                    <div class="f-about">
                        <img src="~/assets/images/nemo/logo.jpg" alt="Nemo" />
                        <ul class="rs list-about mb-20 mt-10">
                            <li><a href="a-21/gioi-thieu.html" rel="nofollow">Giới thiệu</a></li>
                            <li><a href="a-22/the-le.html" rel="nofollow">Thể lệ</a></li>
                            <li><a href="a-23/quy-che-hoat-dong.html" rel="nofollow">Quy chế hoạt động</a></li>
                        </ul>
                    </div>
                    <div class="f-subscribe">
                        <div class="f-top-title fw-rb fc-black">Đăng ký bản tin</div>
                        <input id="sys_email_subcrice" type="text" class="txt-email" placeholder="Nhập email của bạn...">
                        <button class="btn btn-subscribe" id="sys_open_email_sub">Đăng kí</button>
                        <div class="f-subscribe__des fs-12 fc-gray-a">
                            Cập nhật các chương trình khuyến mãi và sản phẩm hấp dẫn qua email cá nhân
                        </div>
                    </div>
                </div>
                <div class="col col-4">
                    <div class="f-top-title fw-rbb tt-u">Chăm sóc khách hàng</div>
                    <ul class="rs lich-cskh mb-10 ">
                        <li>Thứ 2 - Thứ 6: 8h30 - 18h</li>
                        <li>Thứ 7: 8h30-12h</li>
                        <li>Tư vấn mua hàng : (024) 7304 11 22</li>
                    </ul>
                    <ul class="rs other-guidelines">
                        <li><a href="a-24/huong-dan-mua-hang.html" rel="nofollow">Hướng dẫn mua hàng</a></li>
                        <li><a href="a-25/chinh-sach-doi-tra.html" rel="nofollow">Chính sách đổi trả</a></li>
                        <li><a href="a-26/chinh-sach-gia-van-chuyen.html" rel="nofollow">Chính sách giá, vận chuyển</a></li>
                        <li><a href="a-27/chinh-sach-giai-quyet-khieu-nai.html" rel="nofollow">Chính sách giải quyết, khiếu nại</a></li>
                        <li><a href="a-28/chinh-sach-bao-ve-thong-tin-ca-nhan.html" rel="nofollow">Chính sách bảo vệ thông tin cá nhân</a></li>
                    </ul>
                </div>
                <div class="col col-4">
                    <div class="f-partner">
                        <div class="f-top-title fw-rbb tt-u">Hợp tác với Nemo</div>
                        <a href="lien-he.html" class="btn btn-partner clearfix">
                            <span class="make-right">
                                <span class="lbl-partner fs-16 fw-rb">Hợp tác với</span>
                                <!-- <span class="p-plaza fs-16 fw-b tt-u">Muachung Plaza</span> -->
                            </span>
                        </a>
                        <div class="f-top-title fw-rbb tt-u">Liên kết website</div>
                        <ul class="linked-list rs">
                            <li>
                                <a href="index.html">Nemo.vn</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col col-4">
                    <div class="f-social">
                        <div class="f-top-title fw-rbb tt-u">Kết nối với Nemo</div>
                        <!-- <div class="fb-page" data-href="https://www.facebook.com/muachung" data-width="210" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="true" data-show-posts="false">
                            <div class="fb-xfbml-parse-ignore">
                                <blockquote cite="https://www.facebook.com/muachung"><a href="https://www.facebook.com/muachung">MuaChung</a></blockquote>
                            </div>
                        </div> -->
                        <div class="fb-page" data-href="https://www.facebook.com/nemosogood" data-width="260" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="true" data-show-posts="false">
                            <div class="fb-xfbml-parse-ignore">
                                <blockquote cite="https://www.facebook.com/nemosogood"><a href="https://www.facebook.com/nemosogood">NEMO</a></blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="f-bottom">
            <div class="container">
                <div class="f-tags clearfix">
                    <div class="f-tag f-tag_r mb-10  make-right clearfix ">
                        <div class="f-tag__title fc-white fs-16 fw-rb">Vật dụng nhà bếp Nhật</div>
                        <ul class="f-tag__list rs">
                            <li>
                                &nbsp;<a href="c283/Thuc-pham-Nhat-Ban4194.html?utm_campaign=menu_footer">Thực phẩm Nhật Bản</a>
                            </li>
                        </ul>
                    </div>
                    <div class="f-tag f-tag_r mb-10  make-left ">
                        <div class="f-tag__title fc-white fs-16 fw-rb">Đồ dùng gia đình</div>
                        <ul class="f-tag__list rs">
                            <li>
                                &nbsp;<a href="c546/Dung-cu-va-thiet-bi4194.html?utm_campaign=menu_footer">Dụng cụ và thiết bị</a>
                            </li>
                            <li>
                                &nbsp;<a href="c551/Ngoai-troi-va-san-vuon4194.html?utm_campaign=menu_footer">Ngoài trời và sân vườn</a>
                            </li>
                            <li>
                                &nbsp;<a href="c555/Do-dung-nho4194.html?utm_campaign=menu_footer">Đồ dùng nhỏ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="f-tag f-tag_r mb-10  make-right clearfix ">
                        <div class="f-tag__title fc-white fs-16 fw-rb">Điện tử, điện lạnh</div>
                        <ul class="f-tag__list rs">
                            <li>
                                &nbsp;<a href="c516/Do-gia-dung4194.html?utm_campaign=menu_footer">Đồ gia dụng</a>
                            </li>
                            <li>
                                &nbsp;<a href="c524/Do-cong-nghe4194.html?utm_campaign=menu_footer">Đồ công nghệ</a>
                            </li>
                            <li>
                                &nbsp;<a href="c530/Do-dien-tu4194.html?utm_campaign=menu_footer">Đồ điện tử</a>
                            </li>
                            <li>
                                &nbsp;<a href="c541/Phu-kien-cong-nghe4194.html?utm_campaign=menu_footer">Phụ kiện công nghệ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="f-tag f-tag_r mb-10  make-left ">
                        <div class="f-tag__title fc-white fs-16 fw-rb">Góc nấu nướng</div>
                        <ul class="f-tag__list rs">
                            <li>
                                &nbsp;<a href="c291/Dung-cu-nau-an4194.html?utm_campaign=menu_footer">Dụng cụ nấu ăn</a>
                            </li>
                            <li>
                                &nbsp;<a href="c317/Bao-quan-thuc-pham4194.html?utm_campaign=menu_footer">Bảo quản thực phẩm</a>
                            </li>
                            <li>
                                &nbsp;<a href="c341/Do-dien-nha-bep4194.html?utm_campaign=menu_footer">Đồ điện nhà bếp</a>
                            </li>
                            <li>
                                &nbsp;<a href="c362/Do-dung-lam-banh4194.html?utm_campaign=menu_footer">Đồ dùng làm bánh</a>
                            </li>
                            <li>
                                &nbsp;<a href="c292/Noi-nieu-xoong-chao4194.html?utm_campaign=menu_footer">Nồi, niêu, xoong, chảo</a>
                            </li>
                            <li>
                                &nbsp;<a href="c297/Bat-dia-muoi-thia4194.html?utm_campaign=menu_footer">Bát, đĩa, muôi, thìa</a>
                            </li>
                            <li>
                                &nbsp;<a href="c301/Phu-kien-nha-bep4194.html?utm_campaign=menu_footer">Phụ kiện nhà bếp</a>
                            </li>
                            <li>
                                &nbsp;<a href="c305/Dung-cu-cat-got4194.html?utm_campaign=menu_footer">Dụng cụ cắt gọt</a>
                            </li>
                            <li>
                                &nbsp;<a href="c312/Bep-Lo4194.html?utm_campaign=menu_footer">Bếp, Lò</a>
                            </li>
                            <li>
                                &nbsp;<a href="c318/Hop-dung-com-trua4194.html?utm_campaign=menu_footer">Hộp đựng cơm trưa </a>
                            </li>
                            <li>
                                &nbsp;<a href="c323/Hop-bao-quan4194.html?utm_campaign=menu_footer">Hộp bảo quản</a>
                            </li>
                            <li>
                                &nbsp;<a href="c329/Vat-dung-xep-do4194.html?utm_campaign=menu_footer">Vật dụng xếp đồ</a>
                            </li>
                            <li>
                                &nbsp;<a href="c336/Do-dung-bao-quan-khac4194.html?utm_campaign=menu_footer">Đồ dùng bảo quản khác</a>
                            </li>
                            <li>
                                &nbsp;<a href="c342/Do-gia-dung-nha-bep4194.html?utm_campaign=menu_footer">Đồ gia dụng nhà bếp</a>
                            </li>
                            <li>
                                &nbsp;<a href="c351/May-xay-tron4194.html?utm_campaign=menu_footer">Máy xay trộn</a>
                            </li>
                            <li>
                                &nbsp;<a href="c357/Gia-dung-lon4194.html?utm_campaign=menu_footer">Gia dụng lớn</a>
                            </li>
                            <li>
                                &nbsp;<a href="c363/Khuon-khay-lam-banh4194.html?utm_campaign=menu_footer">Khuôn, khay làm bánh</a>
                            </li>
                            <li>
                                &nbsp;<a href="c369/Dung-cu-lam-banh4194.html?utm_campaign=menu_footer">Dụng cụ làm bánh</a>
                            </li>
                            <li>
                                &nbsp;<a href="c373/May-moc-thiet-bi4194.html?utm_campaign=menu_footer">Máy móc, thiết bị</a>
                            </li>
                        </ul>
                    </div>
                    <div class="f-tag f-tag_r mb-10  make-right clearfix ">
                        <div class="f-tag__title fc-white fs-16 fw-rb">Thời trang, sắc đẹp</div>
                        <ul class="f-tag__list rs">
                            <li>
                                &nbsp;<a href="c714/Goc-do-da4194.html?utm_campaign=menu_footer">Góc đồ da</a>
                            </li>
                            <li>
                                &nbsp;<a href="c497/Thoi-trang4194.html?utm_campaign=menu_footer">Thời trang</a>
                            </li>
                            <li>
                                &nbsp;<a href="c501/Lam-dep4194.html?utm_campaign=menu_footer">Làm đẹp</a>
                            </li>
                            <li>
                                &nbsp;<a href="c506/Kem-cho-be4194.html?utm_campaign=menu_footer">Kem cho bé</a>
                            </li>
                            <li>
                                &nbsp;<a href="c511/Nuoc-hoa4194.html?utm_campaign=menu_footer">Nước hoa</a>
                            </li>
                        </ul>
                    </div>
                    <div class="f-tag f-tag_r mb-10  make-left ">
                        <div class="f-tag__title fc-white fs-16 fw-rb">Sức khỏe gia đình</div>
                        <ul class="f-tag__list rs">
                            <li>
                                &nbsp;<a href="c399/Thiet-bi-y-te4194.html?utm_campaign=menu_footer">Thiết bị y tế</a>
                            </li>
                            <li>
                                &nbsp;<a href="c410/Thuc-pham-chuc-nang4194.html?utm_campaign=menu_footer">Thực phẩm chức năng</a>
                            </li>
                            <li>
                                &nbsp;<a href="c415/Dung-cu-tap4194.html?utm_campaign=menu_footer">Dụng cụ tập</a>
                            </li>
                            <li>
                                &nbsp;<a href="c420/Thiet-bi-lam-dep4194.html?utm_campaign=menu_footer">Thiết bị làm đẹp</a>
                            </li>
                        </ul>
                    </div>
                    <div class="f-tag f-tag_r mb-10  make-right clearfix ">
                        <div class="f-tag__title fc-white fs-16 fw-rb">Mẹ và bé</div>
                        <ul class="f-tag__list rs">
                            <li>
                                &nbsp;<a href="c425/Be-an4194.html?utm_campaign=menu_footer">Bé ăn</a>
                            </li>
                            <li>
                                &nbsp;<a href="c452/Be-mac4194.html?utm_campaign=menu_footer">Bé mặc</a>
                            </li>
                            <li>
                                &nbsp;<a href="c465/Do-choi-Do-dung-cho-be4194.html?utm_campaign=menu_footer">Đồ chơi , Đồ dùng cho bé</a>
                            </li>
                            <li>
                                &nbsp;<a href="c486/Danh-cho-me-bau-va-sau-sinh4194.html?utm_campaign=menu_footer">Dành cho mẹ bầu và sau sinh</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="wrap-copy clearfix">
                    <div class="zamba">Một sản phẩm của <i class="icon iZamba"></i></div>
                    <p class="rs fw-b"><span class="fw-b fs-15">Công ty cổ phần VCCorp</span></p>
                    <p class="rs fs-12">Copyright © 2010. All rights reserved.</p>
                    <p class="rs fs-12">Địa chỉ: Tầng 17, 19, 20, 21 Toà nhà Center Building - Hapulico Complex, Số 1 Nguyễn Huy Tưởng, Thanh Xuân, Hà Nội.</p>
                    <p class="rs fs-12">Điện thoại tư vấn mua hàng: (024)7304.1122 - Email: <a href="mailto:info@vccorp.vn" style="color: #ddd">info@vccorp.vn</a></p>
                    <a href="https://vccorp.vn/" target="_blank"><i class="icon iAdmicro"></i></a>
                    <a href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=14964" target="_blank" rel="nofollow"><i class="icon iBCT"></i></a>
                </div>
            </div>
        </div>
    </div>
</div><!--end: #footer-->