<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Shared/Layout/_HeadMeta.cshtml")
</head>
<body ng-app="MyApp">
    <div class="in-detail-page container-page">
        <div class="header">
            <div class="row ta-c">
                <a href="javascript: void(0)" class="header__back" rel="nofollow"><i class="icon iPrev"></i></a>
                <div class="header__search header__search-hide">
                    <input type="text" placeholder="Tìm kiếm..." class="header__search-input">
                    <input type="submit" value="Tìm kiếm" class="header__search-submit">
                    <a href="javascript:void(0)" class="header__search_close fs-15 make-right">Hủy</a>
                    <a href="javascript:void(0)" class="header__search_clear"><img src="https://nemo.vn/assets/v9/images/touch/clear.png" alt="Clear"></a>
                    <div class="header__search_typing">
                        <div class="search_des fs-12">Sản phẩm tìm thấy :  <span class="fw-rbb"></span></div>
                        <ul class="rs fw-rbb"></ul>
                    </div>
                </div>
                <!-- <a href="javascript: void(0)" class="header__submenu" rel="nofollow">
                    <i class="icon iMenu2"></i>
                </a>
                <div class="row">
                    <ul class="rs ta-c header__dropdown">
                        <li>
                            <a href="https://nemo.vn" class="">
                                <i class="icon iHomew"></i>
                                <span>Trang chủ</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="open_search_box">
                                <i class="icon iSearchw"></i>
                                <span>Tìm kiếm</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://nemo.vn/checkout/cart">
                                <i class="icon iCartw"></i>
                                <span>Giỏ hàng</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon iAdvisoryW"></i>
                                <span>Tư vấn</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://nemo.vn/mo-rong">
                                <i class="icon iExpandW"></i>
                                <span>Mở rộng</span>
                            </a>
                        </li>
                    </ul>
                </div> -->
                <h3 class="rs deal-name"><a class="deal-name-val fs-15 fw-rb" href="javascript:void(0)">Bộ dụng cụ cắt gọt rau củ đa năng 5 trong 1 Beauty</a></h3>
            </div>
        </div>
        <ul class="rs detail__nav fw-rb tt-u ta-c">
            <li><a href="#sp_section" class="active">Sản phẩm</a></li>
            <li><a href="#detail_section" class="">Chi tiết </a></li>
            <li><a href="#cmt_section" class="">Bình luận</a></li>
        </ul>
        <div class="detail__contents">
            <div id="sp_section" class="detail__content active" style="display: block; position: relative; left: 0px;">
                <div class="mod-slides">
                    <div class="swiper-container mod-slide swiper-container-horizontal">
                        <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                            <div class="swiper-slide swiper-slide-active" style="width: 320px;">
                                <a href="javascript:void(0)" class="img-thumb-deal" rel="nofollow">
                                    <img src="https://static11.muachungcdn.com/thumb_wl,100/960/i:plaza/product/product/-0-8-149758979034391/bo-dung-cu-cat-got-rau-cu-da-nang-5-trong-1-beauty.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide swiper-slide-next" style="width: 320px;">
                                <a href="javascript:void(0)" class="img-thumb-deal" rel="nofollow">
                                    <img src="https://static11.muachungcdn.com/thumb_wl,100/960/i:plaza/product/product/-0-11-149758979021566/bo-dung-cu-cat-got-rau-cu-da-nang-5-trong-1-beauty.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide" style="width: 320px;">
                                <a href="javascript:void(0)" class="img-thumb-deal" rel="nofollow">
                                    <img src="https://static11.muachungcdn.com/thumb_wl,100/960/i:plaza/product/product/-0-12-149758979030796/bo-dung-cu-cat-got-rau-cu-da-nang-5-trong-1-beauty.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide" style="width: 320px;">
                                <a href="javascript:void(0)" class="img-thumb-deal" rel="nofollow">
                                    <img src="https://static11.muachungcdn.com/thumb_wl,100/960/i:plaza/product/product/-0-10-149759051680424/bo-dung-cu-cat-got-rau-cu-da-nang-5-trong-1-beauty.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide" style="width: 320px;">
                                <a href="javascript:void(0)" class="img-thumb-deal" rel="nofollow">
                                    <img src="https://static11.muachungcdn.com/thumb_wl,100/960/i:plaza/product/product/-0-IMG_0416-149758372032936/bo-dung-cu-cat-got-rau-cu-da-nang-5-trong-1-beauty.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide" style="width: 320px;">
                                <a href="javascript:void(0)" class="img-thumb-deal" rel="nofollow">
                                    <img src="https://static11.muachungcdn.com/thumb_wl,100/960/i:plaza/product/product/-0-IMG_0424-149758372086465/bo-dung-cu-cat-got-rau-cu-da-nang-5-trong-1-beauty.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide" style="width: 320px;">
                                <a href="javascript:void(0)" class="img-thumb-deal" rel="nofollow">
                                    <img src="https://static11.muachungcdn.com/thumb_wl,100/960/i:plaza/product/product/-0-IMG_0425-149758372134104/bo-dung-cu-cat-got-rau-cu-da-nang-5-trong-1-beauty.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide" style="width: 320px;">
                                <a href="javascript:void(0)" class="img-thumb-deal" rel="nofollow">
                                    <img src="https://static11.muachungcdn.com/thumb_wl,100/960/i:plaza/product/product/-0-IMG_0417-149758372190237/bo-dung-cu-cat-got-rau-cu-da-nang-5-trong-1-beauty.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide" style="width: 320px;">
                                <a href="javascript:void(0)" class="img-thumb-deal" rel="nofollow">
                                    <img src="https://static11.muachungcdn.com/thumb_wl,100/960/i:plaza/product/product/-0-IMG_0421-149758372236298/bo-dung-cu-cat-got-rau-cu-da-nang-5-trong-1-beauty.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide" style="width: 320px;">
                                <a href="javascript:void(0)" class="img-thumb-deal" rel="nofollow">
                                    <img src="https://static11.muachungcdn.com/thumb_wl,100/960/i:plaza/product/product/-0-IMG_0422-149758372151818/bo-dung-cu-cat-got-rau-cu-da-nang-5-trong-1-beauty.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide" style="width: 320px;">
                                <a href="javascript:void(0)" class="img-thumb-deal" rel="nofollow">
                                    <img src="https://static11.muachungcdn.com/thumb_wl,100/960/i:plaza/product/product/-0-IMG_0419-149758372042362/bo-dung-cu-cat-got-rau-cu-da-nang-5-trong-1-beauty.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide" style="width: 320px;">
                                <a href="javascript:void(0)" class="img-thumb-deal" rel="nofollow">
                                    <img src="https://static11.muachungcdn.com/thumb_wl,100/960/i:plaza/product/product/-0-IMG_0423-149758372049365/bo-dung-cu-cat-got-rau-cu-da-nang-5-trong-1-beauty.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide" style="width: 320px;">
                                <a href="javascript:void(0)" class="img-thumb-deal" rel="nofollow">
                                    <img src="https://static11.muachungcdn.com/thumb_wl,100/960/i:plaza/product/product/-0-IMG_0418-149758372145289/bo-dung-cu-cat-got-rau-cu-da-nang-5-trong-1-beauty.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
                    </div>
                    <div class="grp-bottom-content clearfix">
                        <div class="grp-name-price">
                            <h3 class="rs deal-name"><a class="deal-name-val fs-15 fw-rb" href="javascript:void(0)">Bộ dụng cụ cắt gọt rau củ đa năng 5 trong 1 Beauty</a></h3>
                            <div class="bottom-info">
                                <div class="deal-price">
                                    <span class="sell-val fw-rbm fs-18">169.000đ</span>
                                    <span class="shop-p-val fw-rb fs-13">499.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mod-box mod-box-att bg-white clearfix">
                    <div class="mod-box__att fw-rb  fs-13 fc-black">
                        <div class="row">Chọn đặc tính</div>
                    </div>
                    <div class="row mod-box-row clearfix">
                        <ul class="rs att-list">
                            <li class="clearfix">
                                <div class="make-left fs-12 fw-rbb att_title">Số lượng</div>
                                <div class="att_quantity_input make-left">
                                    <button class="att_quantity_decrease"></button>
                                    <input type="hidden" value="1" id="sys_min_quantity">
                                    <input type="hidden" value="100" id="sys_max_quantity">
                                    <input type="text" value="1" class="att_quantity_val fs-14 fw-rbb fc-gray5 ta-c" id="sys_quantity">
                                    <button class="att_quantity_increase"></button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mod-box-wrap pb-10">
                    <div class="mod-box mod-box-finfo bg-white clearfix">
                        <div class="mod-box__finf fw-rb tt-u  fs-13 fc-black">
                            <div class="row">Thông tin nổi bật</div>
                        </div>
                        <div class="row">
                            <ul class="rs finfo-list fc-black fs-13">

                                <li>Công dụng&nbsp;đa năng: Gọt vỏ, Nạo sợi, bào nhỏ, thái lát, thái răng cưa.... các loại rau củ phổ biến: dưa chuột, khoai tây, khoai lang, cà rốt, cà chua, các loại rau…</li>
                                <li>Bộ sản phẩm gồm thân nạo, 01 nạo vỏ,&nbsp;5 lưỡi bào khác nhau + Dụng cụ giữ củ, quả.</li>
                                <li>Thiết kế thông minh với tay cầm ma sát tốt kết hợp với núm giữ củ, quả tránh trầy xước tay khi sơ chế thực phẩm.</li>
                                <li>Chất liệu nhựa và lưỡi thép không gỉ&nbsp;bền, chắc, an toàn cho sức khỏe.</li>
                                <li>Tích hợp ngăn&nbsp;chứa lưỡi dao trên thân nạo và khay nhựa chứa thực phẩm&nbsp;vô cùng tiện lợi, gọn gàng, chân chế vững chắc.</li>
                                <li>Sản phẩm chính hãng của nhà thiết kế James Braet.</li>
                                <li>Kích thước:&nbsp;Chiều dài 30cm x rộng 11cm x cao 8cm. &nbsp;Kích thước lưỡi dao: 10cm.&nbsp;Khối lượng: 0.42kg.</li>
                                <li>Thương hiệu:&nbsp;Beauty.</li>


                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mod-box-wrap pb-10">
                    <div class="mod-box mod-trade-mark bg-white clearfix">
                        <div class="row clearfix">
                            <div class="make-left trade-mark__img">
                            </div>
                            <div class="make-left trade-mark__content">
                                <div class="fs-15 trade-mark__title">Thương hiệu Beauty</div>
                                <a href="https://nemo.vn/cua-hang/beauty/s-2312/danh-sach-san-pham.html" class="trade-mark__btn fc-gray5 fs-9">Xem thêm các sản phẩm khác</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="detail_section" class="detail__content bg-white" style="display: none;">
                <div class="row">
                    <div class="tech_detail_contents">
                        <div id="thong-tin-chung" class="tech_detail_content active">
                            <div class="param fc-gray5 fs-14">
                                <p style="text-align:justify">Để mâm cơm gia đình bạn phong phú và hoàn hảo thì những món nộm hay các món nấu với rau, củ quả có hình dạng bắt mắt sẽ là "khúc biến tấu" cho bữa ăn và thay đổi khẩu vị cho các thành viên trong gia đình. Thế nhưng, việc bào sợi, thái lát... khiến bạn gặp nhiều khó khăn, mất thời gian và thậm chí là bị đứt tay. Với&nbsp;<strong>Bộ dụng cụ cắt gọt rau củ đa năng 5 trong 1 Beauty </strong>mà Nemo giới thiệu dưới đây, bạn sẽ trở thành một người nội trợ vô cùng đảm đang.</p>

                                <p style="text-align:center"><img src="https://static11.muachungcdn.com/thumb_max,80/plaza/product/product/-0-11-149758979021566.jpg" style="text-align:center; width:800px"></p>

                                <p style="text-align:justify">Không giống như những dụng cụ nạo, gọt, cắt... hiện bán trên thị trường với chất liệu kém, thiết kế bất tiện hay rất dễ gây tổn thương cho tay khi sử dụng, <strong>bộ dụng cụ cắt gọt rau củ đa năng Beauty&nbsp;5 trong 1 là sản phẩm chính hãng, do chính nhà sáng chế James Braet sản xuất và thương hiệu này đã được bảo hộ độc quyền trên toàn thế giới.</strong> Chính vì thế, từng chi tiết của sản phẩm đều được thiết kế một cách tỉ mỉ, cẩn thận, tinh tế và chau chuốt&nbsp;nhất để mang tới sự tiện lợi, an toàn cho người sử dụng.</p>

                                <p style="text-align:center"><img src="https://static11.muachungcdn.com/thumb_max,80/plaza/product/product/-0-ddf-149760501338425.jpg" style="width:700px"></p>

                                <p style="text-align:center">Chân dung&nbsp;James Braet và sáng chế của ông.</p>

                                <p style="text-align:center"><img src="https://static11.muachungcdn.com/thumb_max,80/plaza/product/product/-0-IMG_0422-149758372151818.jpg" style="width:800px"></p>

                                <p>Bộ sản phẩm gồm thân nạo, 01 nạo vỏ,&nbsp;5 lưỡi bào khác nhau + Dụng cụ giữ củ, quả khi bào. Đây&nbsp;là dụng cụ hoàn hảo giúp giải phóng sự&nbsp;mệt mỏi cho&nbsp;chị em khi vào bếp, cắt gọt hầu hết các loại rau củ phổ biến: dưa chuột, khoai tây, khoai lang, cà rốt, cà chua, các loại rau… giúp bà nội trợ có thêm nhiều ý tưởng sáng tạo và phong phú cho bữa cơm của gia đình mình.</p>

                                <p style="text-align:center"><img src="https://static11.muachungcdn.com/thumb_max,80/plaza/product/product/-0-1-149759053640062.jpg" style="width:800px"></p>

                                <p style="text-align:center">Kích thước chi tiết sản phẩm.</p>

                                <p style="text-align:justify">Lưỡi dao làm từ chất liệu thép không gỉ với độ bền cao và&nbsp;sắc bén giúp việc cắt gọt nạo nhanh chóng hơn, tiết kiệm thời gian sơ thế món ăn, đồng thời đảm bảo an toàn cho sức khỏe, không bị gỉ hay nhiễm hóa chất độc hại vào món ăn. Thiết kế lưỡi dao và khe cắm rất khoa học, tránh trầy xước cho tay khi sử dụng.</p>

                                <p style="text-align:center"><img src="https://static11.muachungcdn.com/thumb_max,80/plaza/product/product/-0-IMG_0423-149758372049365.jpg" style="width:800px"></p>

                                <p style="text-align:justify">Thiết kế thông minh với tay cầm ma sát tốt kết hợp với núm giữ củ, quả tránh trầy xước tay khi sơ chế thực phẩm.&nbsp;Tích hợp khay chứa lưỡi dao trên thân nạo vô cùng tiện lợi, gọn gàng, bạn có thể để lưỡi nạo và lấy sử dụng theo nhu cầu.&nbsp;Một điểm đặc biệt của sản phẩm này so với các dụng cụ nạo, gọt thông thường là có phần chân đế vững chắc. Thay vì cầm tay khi sử dụng, bạn chỉ cần đặt chúng lên&nbsp;mặt bàn, bếp mà vẫn sơ chế thực phẩm một cách nhanh chóng và dễ dàng.</p>

                                <p style="text-align:center"><img src="https://static11.muachungcdn.com/thumb_max,80/plaza/product/product/-0-IMG_0418-149758372145289.jpg" style="width:800px"></p>

                                <p style="text-align:center">Khay chứa lưỡi nạo ngăn nắp, tiện lợi.</p>

                                <p style="text-align:center"><img src="https://static11.muachungcdn.com/thumb_max,80/plaza/product/product/-0-9-149759053620266.jpg" style="text-align:center; width:800px"></p>

                                <p style="text-align:justify">Một ưu điểm và sự tiện lợi nữa khi bạn sử dụng Bộ dụng cụ đa năng này là không phải lo lắng rau củ bị trượt khi nạo, hay tay bị mài vào lưỡi nạo bởi bộ sản phẩm&nbsp;có thêm Dụng cụ giữ củ, quả với phần núm giữ có thể điều chỉnh lên xuống để bào hết rau củ.</p>

                                <p style="text-align:center"><img src="https://static11.muachungcdn.com/thumb_max,80/plaza/product/product/-0-12-149758979030796.jpg" style="text-align:center; width:800px"></p>

                                <p style="text-align:center"><img src="https://static11.muachungcdn.com/thumb_max,80/plaza/product/product/-0-IMG_0416-149758372032936.jpg" style="width:800px"></p>

                                <p style="text-align:center">Bộ dụng cụ có khay nhựa để chứa thực phẩm đã được sơ chế vô cùng tiện lợi, đảm bảo thực phẩm không bị vương vãi hay rây bẩn ra bàn bếp.</p>

                                <p style="text-align:center"><img src="https://static11.muachungcdn.com/thumb_max,80/plaza/product/product/-0-2-149759053613655.jpg" style="width:800px"></p>

                                <p style="text-align:center">Lưỡi dao thái lát.</p>

                                <p style="text-align:center">&nbsp;</p>

                                <p style="text-align:center"><img src="https://static11.muachungcdn.com/thumb_max,80/plaza/product/product/-0-10-149759053683042.jpg" style="width:800px"></p>

                                <p style="text-align:center">Kích thước nhỏ gọn, dễ sử dụng và cất trữ.</p>

                                <p style="text-align:center"><img src="https://static11.muachungcdn.com/thumb_max,80/plaza/product/product/-0-8-149759053644020.jpg" style="width:800px"></p>

                                <p style="text-align:center">Lưỡi dao bào sợi.</p>

                                <p style="text-align:center"><img src="https://static11.muachungcdn.com/thumb_max,80/plaza/product/product/-0-7-149759053681938.jpg" style="width:800px"></p>

                                <p style="text-align:center">Lưỡi bào mịn.</p>

                                <p style="text-align:center"><img src="https://static11.muachungcdn.com/thumb_max,80/plaza/product/product/-0-3-149759053786263.jpg" style="width:800px"></p>

                                <p style="text-align:center">Lưỡi thái răng cưa.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cmt_section" class="detail__content" style="display: none;">
                <div class="mb-10">
                    <div class="cart-section cart-section__des mt-10">
                        <div class="row clearfix">
                            <div class="cart-section_p  fs-12 fc-black make-left">
                                Đăng nhập để bình luận sản phẩm
                            </div>
                            <a href="https://nemo.vn/m/dang-nhap.html?url=aHR0cHM6Ly9uZW1vLnZuL3Nhbi1waGFtLXRpZW4taWNoL2QtNDUwNzMvYm8tZHVuZy1jdS1jYXQtZ290LXJhdS1jdS1kYS1uYW5nLTUtdHJvbmctMS1iZWF1dHkuaHRtbA%3D%3D" class="cart-section_btn fw-rbm fc-white fs-12 make-right">Đăng nhập</a>
                        </div>
                    </div>
                </div>
                <div class="bg-white mb-10 cmt_wrap">
                    <div class="row">
                        <ul class="rs cmt_comments fc-gray5" id="sys_list_comment"></ul>
                        <div class="ta-c">
                            <a href="javascript:void(0)" data-page="0" class="cmt_more_btn fs-9 fc-white" id="sys_load_comment" style="display: none;">Xem thêm bình luận</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-nav">
            <ul class="rs ta-c">
                <li>
                    <a href="https://nemo.vn" class="active">
                        <i class="icon iHome"></i>
                        <span>Trang chủ</span>
                    </a>
                </li>
                <!--  <li>
                    <a href="#">
                        <i class="icon iSearch"></i>
                        <span>Tìm kiếm</span>
                    </a>
                </li> -->
                <li>
                    <a href="https://nemo.vn/checkout/cart">
                        <i class="icon iCart"></i>
                        <span>Giỏ hàng</span>
                    </a>
                </li>
                <li class="action__nav">
                    <ul class="rs">
                        <li>
                            <a href="javascript:void(0)" class="sys_btn_order">
                                Thêm vào giỏ hàng
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="tt-u sys_btn_payment">
                                Mua ngay <i class="icon iNext"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    @RenderBody()
    @Html.Partial("~/Views/Shared/Layout/_Script.cshtml")
    @RenderSection("jsScript", false)
</body>
</html>