@{
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}  
 
<div class="mod-box-wrap pb-10">
    <div class=" mod-box bg-white">
        <div class="row mod-box-row clearfix">
            <div class="mod-box__title fw-rbm fs-18 fc-black make-left">Sản phẩm mới</div>
        </div>
        <div class="dSwiper row swiper-container swiper-container-horizontal">
            <div class="box-deals swiper-wrapper">
                <div class="deal-item sys_deal_item swiper-slide swiper-slide-active" style="width: 115.6px; margin-right: 10px;">
                    <div class="inner-deal">
                        <div class="wrap-imgdesc">
                            <a href="https://nemo.vn/san-pham-tien-ich/d-48226/sau-rieng-chin-rung-sau-bay-100gram.html" class="img-thumb-deal" rel="nofollow">  
                                <img class="img-overlay swiper-lazy swiper-lazy-loaded" alt="Sầu riêng chín rụng, sầu bay (100gram)" src="~/UploadedFiles/_thumbs/Images/day-chuyen-titi-sao-lemare.jpg">
                            </a>
                        </div>
                        <div class="grp-bottom-content">
                            <div class="grp-name-price">
                                <div class="bottom-info">
                                    <div class="deal-name fs-13 fw-rbl">
                                        Sầu riêng chín rụng, sầu bay (100gram)
                                    </div>
                                    <div class="deal-price">
                                        <span class="sell-val fw-rbm">15.000đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="deal-item sys_deal_item swiper-slide swiper-slide-next" style="width: 115.6px; margin-right: 10px;">
                    <div class="inner-deal">
                        <div class="wrap-imgdesc">
                            <a href="https://nemo.vn/thuc-pham-chuc-nang/d-48225/mat-ong-manuka-watson-son-mgs-16-lo-500g.html" class="img-thumb-deal" rel="nofollow"> 
                                <img class="img-overlay swiper-lazy swiper-lazy-loaded" alt="Mật ong Manuka WatSon&amp;Son MGS 16+ lọ 500g"  src="~/UploadedFiles/_thumbs/Images/day-chuyen-titi-sao-lemare.jpg">
                            </a>
                        </div>
                        <div class="grp-bottom-content">
                            <div class="grp-name-price">
                                <div class="bottom-info">
                                    <div class="deal-name fs-13 fw-rbl">
                                        Mật ong Manuka WatSon&amp;Son MGS 16+ lọ 500g
                                    </div>
                                    <div class="deal-price">
                                        <span class="sell-val fw-rbm">2.290.000đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="deal-item sys_deal_item swiper-slide" style="width: 115.6px; margin-right: 10px;">
                    <div class="inner-deal">
                        <div class="wrap-imgdesc">
                            <a href="https://nemo.vn/thuc-pham-chuc-nang/d-48224/mat-ong-manuka-watson-son-mgs-16-lo-250g.html" class="img-thumb-deal" rel="nofollow"> 
                                <img class="img-overlay swiper-lazy swiper-lazy-loaded" alt="Mật ong Manuka WatSon&amp;Son MGS 16+ lọ 250g" src="~/UploadedFiles/_thumbs/Images/day-chuyen-titi-sao-lemare.jpg">
                            </a>
                        </div>
                        <div class="grp-bottom-content">
                            <div class="grp-name-price">
                                <div class="bottom-info">
                                    <div class="deal-name fs-13 fw-rbl">
                                        Mật ong Manuka WatSon&amp;Son MGS 16+ lọ 250g
                                    </div>
                                    <div class="deal-price">
                                        <span class="sell-val fw-rbm">1.190.000đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="deal-item sys_deal_item swiper-slide" style="width: 115.6px; margin-right: 10px;">
                    <div class="inner-deal">
                        <div class="wrap-imgdesc">
                            <a href="https://nemo.vn/thuc-pham-chuc-nang/d-48223/mat-ong-manuka-watson-son-mgs-12-lo-500g.html" class="img-thumb-deal" rel="nofollow"> 
                                <img class="img-overlay swiper-lazy" alt="Mật ong Manuka WatSon&amp;Son MGS 12+ lọ 500g" data-src="https://static11.muachungcdn.com/thumb,100/240_240/i:plaza/product/product/-0-12+500-150968090638582/mat-ong-manuka-watson-son-mgs-12-lo-500g.jpg" src="~/UploadedFiles/_thumbs/Images/day-chuyen-titi-sao-lemare.jpg">
                            </a>
                        </div>
                        <div class="grp-bottom-content">
                            <div class="grp-name-price">
                                <div class="bottom-info">
                                    <div class="deal-name fs-13 fw-rbl">
                                        Mật ong Manuka WatSon&amp;Son MGS 12+ lọ 500g
                                    </div>
                                    <div class="deal-price">
                                        <span class="sell-val fw-rbm">1.490.000đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
                <div class="deal-item sys_deal_item swiper-slide" style="width: 115.6px; margin-right: 10px;">
                    <div class="inner-deal">
                        <div class="wrap-imgdesc">
                            <a href="https://nemo.vn/thuc-pham-chuc-nang/d-48222/mat-ong-manuka-watson-son-mgs-12-lo-250g.html" class="img-thumb-deal" rel="nofollow"> 
                                <img class="img-overlay swiper-lazy" alt="Mật ong Manuka WatSon&amp;Son MGS 12+ lọ 250g" data-src="https://static11.muachungcdn.com/thumb,100/240_240/i:plaza/product/product/-0-12+ 250-150968091970328/mat-ong-manuka-watson-son-mgs-12-lo-250g.jpg" src="~/UploadedFiles/_thumbs/Images/day-chuyen-titi-sao-lemare.jpg">
                            </a>
                        </div>
                        <div class="grp-bottom-content">
                            <div class="grp-name-price">
                                <div class="bottom-info">
                                    <div class="deal-name fs-13 fw-rbl">
                                        Mật ong Manuka WatSon&amp;Son MGS 12+ lọ 250g
                                    </div>
                                    <div class="deal-price">
                                        <span class="sell-val fw-rbm">790.000đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
                <div class="deal-item sys_deal_item swiper-slide" style="width: 115.6px; margin-right: 10px;">
                    <div class="inner-deal">
                        <div class="wrap-imgdesc">
                            <a href="https://nemo.vn/thuc-pham-chuc-nang/d-48221/mat-ong-manuka-watson-son-mgs-10-lo-500g.html" class="img-thumb-deal" rel="nofollow"> 
                                <img class="img-overlay swiper-lazy" alt="Mật ong Manuka WatSon&amp;Son MGS 10+ lọ 500g" data-src="https://static11.muachungcdn.com/thumb,100/240_240/i:plaza/product/product/-0-10+500-150968154977329/mat-ong-manuka-watson-son-mgs-10-lo-500g.jpg" src="~/UploadedFiles/_thumbs/Images/day-chuyen-titi-sao-lemare.jpg">
                            </a>
                        </div>
                        <div class="grp-bottom-content">
                            <div class="grp-name-price">
                                <div class="bottom-info">
                                    <div class="deal-name fs-13 fw-rbl">
                                        Mật ong Manuka WatSon&amp;Son MGS 10+ lọ 500g
                                    </div>
                                    <div class="deal-price">
                                        <span class="sell-val fw-rbm">1.290.000đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
                <div class="deal-item sys_deal_item swiper-slide" style="width: 115.6px; margin-right: 10px;">
                    <div class="inner-deal">
                        <div class="wrap-imgdesc">
                            <a href="https://nemo.vn/thuc-pham-chuc-nang/d-48220/mat-ong-manuka-watson-son-mgs-10-lo-250g.html" class="img-thumb-deal" rel="nofollow"> 
                                <img class="img-overlay swiper-lazy" alt="Mật ong Manuka WatSon&amp;Son MGS 10+ lọ 250g" data-src="https://static11.muachungcdn.com/thumb,100/240_240/i:plaza/product/product/-0-10+250-150968155534254/mat-ong-manuka-watson-son-mgs-10-lo-250g.jpg" src="~/UploadedFiles/_thumbs/Images/day-chuyen-titi-sao-lemare.jpg">
                            </a>
                        </div>
                        <div class="grp-bottom-content">
                            <div class="grp-name-price">
                                <div class="bottom-info">
                                    <div class="deal-name fs-13 fw-rbl">
                                        Mật ong Manuka WatSon&amp;Son MGS 10+ lọ 250g
                                    </div>
                                    <div class="deal-price">
                                        <span class="sell-val fw-rbm">690.000đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
                <div class="deal-item sys_deal_item swiper-slide" style="width: 115.6px; margin-right: 10px;">
                    <div class="inner-deal">
                        <div class="wrap-imgdesc">
                            <a href="https://nemo.vn/do-dien-gia-dung/d-48164/bep-hong-ngoai-sato-st-08ic-tang-noi-inox-am-sieu-toc-st-688-1-8l.html" class="img-thumb-deal" rel="nofollow"> 
                                <img class="img-overlay swiper-lazy" alt="Bếp hồng ngoại Sato ST-08IC - Tặng nồi inox + Ấm siêu tốc ST-688 1.8L" data-src="https://static11.muachungcdn.com/thumb,100/240_240/i:plaza/product/product/-0-48164_7-150959447719370/bep-hong-ngoai-sato-st-08ic-tang-noi-inox-am-sieu-toc-st-688-1-8l.jpg" src="~/UploadedFiles/_thumbs/Images/day-chuyen-titi-sao-lemare.jpg">
                            </a>
                        </div>
                        <div class="grp-bottom-content">
                            <div class="grp-name-price">
                                <div class="bottom-info">
                                    <div class="deal-name fs-13 fw-rbl">
                                        Bếp hồng ngoại Sato ST-08IC - Tặng nồi inox + Ấm siêu tốc ST-688 1.8L
                                    </div>
                                    <div class="deal-price">
                                        <span class="shop-p-val fw-rb">1.500.000đ</span>
                                        <span class="sell-val fw-rbm">999.000đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
                <div class="deal-item sys_deal_item swiper-slide" style="width: 115.6px; margin-right: 10px;">
                    <div class="inner-deal">
                        <div class="wrap-imgdesc">
                            <a href="https://nemo.vn/do-dien-gia-dung/d-48163/bep-tu-sato-stb-301-tang-noi-inox-1-bo-muoi-lien-muoi-thung-am-st-688.html" class="img-thumb-deal" rel="nofollow"> 
                                <img class="img-overlay swiper-lazy" alt="BẾP TỪ SATO STB-301 Tặng Nồi inox+1 bộ muôi liền, muôi thủng+Ấm ST-688" data-src="https://static11.muachungcdn.com/thumb,100/240_240/i:plaza/product/product/-0-301-qua-150960925124540/bep-tu-sato-stb-301-tang-noi-inox-1-bo-muoi-lien-muoi-thung-am-st-688.jpg" src="~/UploadedFiles/_thumbs/Images/day-chuyen-titi-sao-lemare.jpg">
                            </a>
                        </div>
                        <div class="grp-bottom-content">
                            <div class="grp-name-price">
                                <div class="bottom-info">
                                    <div class="deal-name fs-13 fw-rbl">
                                        BẾP TỪ SATO STB-301 Tặng Nồi inox+1 bộ muôi liền, muôi thủng+Ấm ST-688
                                    </div>
                                    <div class="deal-price">
                                        <span class="shop-p-val fw-rb">1.700.000đ</span>
                                        <span class="sell-val fw-rbm">1.190.000đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div> 

                <div class="deal-item sys_deal_item swiper-slide" style="width: 115.6px; margin-right: 10px;">
                    <div class="inner-deal">
                        <div class="wrap-imgdesc">
                            <a href="https://nemo.vn/do-dien-gia-dung/d-48163/bep-tu-sato-stb-301-tang-noi-inox-1-bo-muoi-lien-muoi-thung-am-st-688.html" class="img-thumb-deal" rel="nofollow">
                                <img class="img-overlay swiper-lazy" alt="BẾP TỪ SATO STB-301 Tặng Nồi inox+1 bộ muôi liền, muôi thủng+Ấm ST-688" data-src="https://static11.muachungcdn.com/thumb,100/240_240/i:plaza/product/product/-0-301-qua-150960925124540/bep-tu-sato-stb-301-tang-noi-inox-1-bo-muoi-lien-muoi-thung-am-st-688.jpg" src="~/UploadedFiles/_thumbs/Images/day-chuyen-titi-sao-lemare.jpg">
                            </a>
                        </div>
                        <div class="grp-bottom-content">
                            <div class="grp-name-price">
                                <div class="bottom-info">
                                    <div class="deal-name fs-13 fw-rbl">
                                        BẾP TỪ SATO STB-301 Tặng Nồi inox+1 bộ muôi liền, muôi thủng+Ấm ST-688
                                    </div>
                                    <div class="deal-price">
                                        <span class="shop-p-val fw-rb">1.700.000đ</span>
                                        <span class="sell-val fw-rbm">1.190.000đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div> 

                <div class="deal-item sys_deal_item swiper-slide" style="width: 115.6px; margin-right: 10px;">
                    <div class="inner-deal">
                        <div class="wrap-imgdesc">
                            <a href="https://nemo.vn/do-dien-gia-dung/d-48163/bep-tu-sato-stb-301-tang-noi-inox-1-bo-muoi-lien-muoi-thung-am-st-688.html" class="img-thumb-deal" rel="nofollow">
                                <img class="img-overlay swiper-lazy" alt="BẾP TỪ SATO STB-301 Tặng Nồi inox+1 bộ muôi liền, muôi thủng+Ấm ST-688" data-src="https://static11.muachungcdn.com/thumb,100/240_240/i:plaza/product/product/-0-301-qua-150960925124540/bep-tu-sato-stb-301-tang-noi-inox-1-bo-muoi-lien-muoi-thung-am-st-688.jpg" src="~/UploadedFiles/_thumbs/Images/day-chuyen-titi-sao-lemare.jpg">
                            </a>
                        </div>
                        <div class="grp-bottom-content">
                            <div class="grp-name-price">
                                <div class="bottom-info">
                                    <div class="deal-name fs-13 fw-rbl">
                                        BẾP TỪ SATO STB-301 Tặng Nồi inox+1 bộ muôi liền, muôi thủng+Ấm ST-688
                                    </div>
                                    <div class="deal-price">
                                        <span class="shop-p-val fw-rb">1.700.000đ</span>
                                        <span class="sell-val fw-rbm">1.190.000đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div> 

                <div class="deal-item sys_deal_item swiper-slide" style="width: 115.6px; margin-right: 10px;">
                    <div class="inner-deal">
                        <div class="wrap-imgdesc">
                            <a href="https://nemo.vn/do-dien-gia-dung/d-48163/bep-tu-sato-stb-301-tang-noi-inox-1-bo-muoi-lien-muoi-thung-am-st-688.html" class="img-thumb-deal" rel="nofollow">
                                <img class="img-overlay swiper-lazy" alt="BẾP TỪ SATO STB-301 Tặng Nồi inox+1 bộ muôi liền, muôi thủng+Ấm ST-688" data-src="https://static11.muachungcdn.com/thumb,100/240_240/i:plaza/product/product/-0-301-qua-150960925124540/bep-tu-sato-stb-301-tang-noi-inox-1-bo-muoi-lien-muoi-thung-am-st-688.jpg" src="~/UploadedFiles/_thumbs/Images/day-chuyen-titi-sao-lemare.jpg">
                            </a>
                        </div>
                        <div class="grp-bottom-content">
                            <div class="grp-name-price">
                                <div class="bottom-info">
                                    <div class="deal-name fs-13 fw-rbl">
                                        BẾP TỪ SATO STB-301 Tặng Nồi inox+1 bộ muôi liền, muôi thủng+Ấm ST-688
                                    </div>
                                    <div class="deal-price">
                                        <span class="shop-p-val fw-rb">1.700.000đ</span>
                                        <span class="sell-val fw-rbm">1.190.000đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div> 

                <div class="deal-item sys_deal_item swiper-slide" style="width: 115.6px; margin-right: 10px;">
                    <div class="inner-deal">
                        <div class="wrap-imgdesc">
                            <a href="https://nemo.vn/do-dien-gia-dung/d-48163/bep-tu-sato-stb-301-tang-noi-inox-1-bo-muoi-lien-muoi-thung-am-st-688.html" class="img-thumb-deal" rel="nofollow">
                                <img class="img-overlay swiper-lazy" alt="BẾP TỪ SATO STB-301 Tặng Nồi inox+1 bộ muôi liền, muôi thủng+Ấm ST-688" data-src="https://static11.muachungcdn.com/thumb,100/240_240/i:plaza/product/product/-0-301-qua-150960925124540/bep-tu-sato-stb-301-tang-noi-inox-1-bo-muoi-lien-muoi-thung-am-st-688.jpg" src="~/UploadedFiles/_thumbs/Images/day-chuyen-titi-sao-lemare.jpg">
                            </a>
                        </div>
                        <div class="grp-bottom-content">
                            <div class="grp-name-price">
                                <div class="bottom-info">
                                    <div class="deal-name fs-13 fw-rbl">
                                        BẾP TỪ SATO STB-301 Tặng Nồi inox+1 bộ muôi liền, muôi thủng+Ấm ST-688
                                    </div>
                                    <div class="deal-price">
                                        <span class="shop-p-val fw-rb">1.700.000đ</span>
                                        <span class="sell-val fw-rbm">1.190.000đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div> 

                <div class="deal-item sys_deal_item swiper-slide" style="width: 115.6px; margin-right: 10px;">
                    <div class="inner-deal">
                        <div class="wrap-imgdesc">
                            <a href="https://nemo.vn/do-dien-gia-dung/d-48163/bep-tu-sato-stb-301-tang-noi-inox-1-bo-muoi-lien-muoi-thung-am-st-688.html" class="img-thumb-deal" rel="nofollow">
                                <img class="img-overlay swiper-lazy" alt="BẾP TỪ SATO STB-301 Tặng Nồi inox+1 bộ muôi liền, muôi thủng+Ấm ST-688" data-src="https://static11.muachungcdn.com/thumb,100/240_240/i:plaza/product/product/-0-301-qua-150960925124540/bep-tu-sato-stb-301-tang-noi-inox-1-bo-muoi-lien-muoi-thung-am-st-688.jpg" src="~/UploadedFiles/_thumbs/Images/day-chuyen-titi-sao-lemare.jpg">
                            </a>
                        </div>
                        <div class="grp-bottom-content">
                            <div class="grp-name-price">
                                <div class="bottom-info">
                                    <div class="deal-name fs-13 fw-rbl">
                                        BẾP TỪ SATO STB-301 Tặng Nồi inox+1 bộ muôi liền, muôi thủng+Ấm ST-688
                                    </div>
                                    <div class="deal-price">
                                        <span class="shop-p-val fw-rb">1.700.000đ</span>
                                        <span class="sell-val fw-rbm">1.190.000đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div> 

                <div class="deal-item sys_deal_item swiper-slide" style="width: 115.6px; margin-right: 10px;">
                    <div class="inner-deal">
                        <div class="wrap-imgdesc">
                            <a href="https://nemo.vn/do-dien-gia-dung/d-48163/bep-tu-sato-stb-301-tang-noi-inox-1-bo-muoi-lien-muoi-thung-am-st-688.html" class="img-thumb-deal" rel="nofollow">
                                <img class="img-overlay swiper-lazy" alt="BẾP TỪ SATO STB-301 Tặng Nồi inox+1 bộ muôi liền, muôi thủng+Ấm ST-688" data-src="https://static11.muachungcdn.com/thumb,100/240_240/i:plaza/product/product/-0-301-qua-150960925124540/bep-tu-sato-stb-301-tang-noi-inox-1-bo-muoi-lien-muoi-thung-am-st-688.jpg" src="~/UploadedFiles/_thumbs/Images/day-chuyen-titi-sao-lemare.jpg">
                            </a>
                        </div>
                        <div class="grp-bottom-content">
                            <div class="grp-name-price">
                                <div class="bottom-info">
                                    <div class="deal-name fs-13 fw-rbl">
                                        BẾP TỪ SATO STB-301 Tặng Nồi inox+1 bộ muôi liền, muôi thủng+Ấm ST-688
                                    </div>
                                    <div class="deal-price">
                                        <span class="shop-p-val fw-rb">1.700.000đ</span>
                                        <span class="sell-val fw-rbm">1.190.000đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div> 
            </div>
        </div>
    </div>
</div> 
 
@section jsScript{
    <script type="text/javascript">  
        var swiper_banner_mobile = new Swiper('.banner-mobile.swiper-container', {
            // Enable lazy loading
            lazy: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

        });
         
        var swiper_category_head_mobile = new Swiper('.category-head-mobile.swiper-container', {
            slidesPerView: 6,
            pagination: { 
                clickable: true,
            } 
        }); 
        var dSwiper_row_mobile = new Swiper('.dSwiper.row.swiper-container', {
            slidesPerView: 3, 
            pagination: {
                clickable: true,
            }
        });
    </script>
}