 
@Html.Partial("~/Views/Shared/Home/_HeaderTop.cshtml")

<div class="header-mid">
    <div class="container clearfix">
        <a class="logo-plaza make-left" href="indexc6e3.html?ref=logo"><i class="icons iLogoNm"></i></a>
        <div class="make-left alt-main-cate is-open">
            <div class="btn-toggle-cate">
                <i></i>
            </div>
            <div class="arrow-up"></div>
            @Html.Partial("~/Views/Shared/Detail/_Menu.cshtml")
        </div>
        <div class="mid-right make-right">
            <div class="user-panel make-right">
                <div class="show-panel clearfix">
                    <div class="grp-lbl make-right pl-5">
                        <span class="lbl-login fc-black">Đăng nhập <span class="fc-gray-a">|</span></span>
                        <span class="lbl-reg  fc-black">Đăng ký</span>
                        <div class="fs-13 fc-gray6 lbl-greeting">Xin chào bạn</div>
                    </div>
                    <i class="icons iUserz make-right" style="margin-right: 5px"></i>
                </div>
                <div class="dropdown-user">
                    <div class="inner-dropdown-user">
                        <div class="lbl-welcome fw-b">Chào mừng bạn đến Nemo!</div>
                        <div class="wrap-action-user">
                            <div class="btn-login sys_btn_open_login">Đăng nhập</div>
                            <div class="wrap-reg">
                                <div class="lbl-dd-reg">Bạn chưa có tài khoản?</div>
                                <div class="btn-login btn-reg sys_btn_open_register">Đăng ký</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end: .user-panel -->
            <div class="shop-cart make-right">
                <div class="shop-cart make-right">
                    <div class="show-cart clearfix">
                        <a id="sys_view_cart" href="checkout/cart.html">
                            <div class="cs-p">
                                <i class="icons iCartz make-left"></i>
                                <div class="cart-count make-right">
                                    <div class="cc-val fw-b" id="sys_count_cart" data-count="0">0</div>
                                    <div class="fs-13 fc-black">Giỏ hàng</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mid-searchbox">
            <div id="sys_form_search" class="form-search">
                <label for="sys_keyword">
                    <input type="text" id="sys_keyword" name="keyword" placeholder="Nhập từ khóa để tìm kiếm..." autocomplete="off" value="" data-id="0">
                </label>
                <button class="btn-search" type="button"><i class="icons iSearchz"></i></button>
                <span id="sys_loading_search" class="loading-search"><img src="~/assets/images/loading.gif" alt="Loading"></span>
                <div id="sys_search_complete" data-holder="0" class="drp-search-result">
                    <div class="completeContent wrap-search-result">
                        <div class="result-in-deal">
                            <div class="result-ss-page"><a href="samsung.html" title="Samsung Official Store"><i class="icons iSamsung"></i>Samsung Official Store</a></div>
                            <div class="lbl-result">Sản phẩm tìm thấy:</div>
                            <div class="lbl-result no-data">Không tìm thấy sản phẩm.</div>
                            <ul class="rs"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <span id="sys_btn_toogle_menu" class="btn-toogle-res-menu"></span>
        </div>
    </div>
</div>