<div id="sys_dropdown_main_cate" class="dropdown-cates hover_out_menu">
    <div class="shadow-box"><i class="icon iShadow"></i></div>
    <div class="list-cates list-cates2">
        <div class="h-cate-section">
            <div class="h-cate-item dock-bottom sys_category_zone dock_hang_nhat">
                <a href="javascript:void(0)" class="parent-cate parent-cate__vip">
                    <i class="icons iCate2 iHeat"></i> Trái cây, Thực phẩm sạch
                </a>
                <ul class="rs list-subcate wrap-col list-subcate-fruit list-subcate-col-2">
                    <li class="list-col list-col-l make-left">
                        <div class="list-item">
                            <ul class="rs">
                                <li>
                                    <a class="fs-18" href="https://nemo.vn/hoa-qua/p427/gian-hang-hoa-qua.html?tag=Hoa+qu%E1%BA%A3+nh%E1%BA%ADp+kh%E1%BA%A9u">Trái cây 100% nhập khẩu <i class="icons iHot"></i></a>
                                    <span>( Hoàn tiền gấp 10 lần nếu không phải hàng chuẩn )</span>
                                </li>
                                <li>
                                    <a class="fs-18" href="https://nemo.vn/hoa-qua/p427/gian-hang-hoa-qua.html?tag=Tr%C3%A1i+c%C3%A2y+Vi%E1%BB%87t+Nam">Trái cây Việt Nam <i class="icons iHot"></i></a>
                                    <span>Sản phẩm được trồng tại các tỉnh, thành Việt Nam. 100% hàng nội địa</span>
                                </li>
                                <li>
                                    <a class="fs-18" href="https://nemo.vn/Thuc-pham/p-414/Rau-rung-dac-san.html">Rau rừng đặc sản <i class="icons iHot"></i></a>
                                    <span>(Các loại rau rừng, đặc sản của các khu vực, tỉnh thành vùng núi nước ta. Hoàn toàn tự nhiên, tốt cho sức khỏe)</span>
                                </li>
                                <li>
                                    <a class="fs-18" href="https://nemo.vn/Thuc-pham-sach/p-406/Dac-san-vung-mien.html">Đặc Sản Vùng Miền <i class="icons iHot"></i></a>
                                    <span>Cam kết sản phẩm là thực phẩm sạch</span>
                                </li>
                                <li>
                                    <a class="fs-18" href="https://nemo.vn/Thuc-pham/p-430/Vao-bep-Nemo-can-gi-co-do.html">Thực phẩm Donavi <i class="icons iHot"></i></a>
                                    <span>Chuyên phân phối nông sản khô và trái cây tươi chất lượng cao. Freeship nội thành đơn hàng từ 200k (từ 5/10-4/11)</span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-col list-col-r make-left">
                    </li>
                </ul>
            </div>
            <div class="h-cate-item dock-bottom sys_category_zone dock_hang_nhat" data-zone="" data-name="">
                <a href="https://nemo.vn/danh-muc/c-186/Vat-dung-nha-bep-Nhat.html?ref=left_menu" class="parent-cate parent-cate__vip">
                    <i class="icons iCate2 jProduct"></i> Vật dụng nhà bếp Nhật
                </a>
            </div>
        </div>
        <div class="h-cate-section h-cate-section_special">
            <div class="fsi fs-13 h-cate-section__title">Góc nấu nướng</div>
            <div class="h-cate-item dock-bottom">
                <a href="javascript:void(0)" class="parent-cate">
                    <i class="icons iCate2 dung-cu-nau-an"></i>Dụng cụ nấu ăn
                </a>
                <ul class="rs list-subcate wrap-col list-subcate-col-2">
                    <li class="list-col list-col-l make-left">
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c292/Noi-nieu-xoong-chao.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Nồi, niêu, xoong, chảo</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class=" highlight_menu " href="/c293/Chao-sieu-chong-dinh.html?utm_campaign=menu_global">
                                        Chảo siêu chống dính
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c294/Noi-xoong-chao.html?utm_campaign=menu_global">
                                        Nồi, xoong, chảo
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c295/Noi-ap-suat-noi-hap.html?utm_campaign=menu_global">
                                        Nồi áp suất &amp; nồi hấp
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c297/Bat-dia-muoi-thia.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Bát, đĩa, muôi, thìa</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c298/Bat-dia-thuong-dung.html?utm_campaign=menu_global">
                                        Bát đĩa thường dùng
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c299/Bat-dia-dep-sang.html?utm_campaign=menu_global">
                                        Bát đĩa đẹp, sang
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c300/Muoi-thia-dua.html?utm_campaign=menu_global">
                                        Muôi, thìa, đũa
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c301/Phu-kien-nha-bep.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Phụ kiện nhà bếp</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c583/Gang-tay-lam-bep.html?utm_campaign=menu_global">
                                        Găng tay làm bếp
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c597/Tien-ich-phong-bep-khac.html?utm_campaign=menu_global">
                                        Tiện ích phòng bếp khác
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c304/De-lot-noi-lot-tay.html?utm_campaign=menu_global">
                                        Đế lót nồi, lót tay
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-col list-col-r make-left">
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c305/Dung-cu-cat-got.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Dụng cụ cắt gọt</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class=" highlight_menu " href="/c306/Keo-cat-ga-nhap-khau.html?utm_campaign=menu_global">
                                        Kéo cắt gà nhập khẩu
                                    </a>
                                </li>
                                <li>
                                    <a class=" highlight_menu " href="/c307/Do-cat-tia-da-nang-got-hoa-qua.html?utm_campaign=menu_global">
                                        Đồ cắt tỉa đa năng &amp; gọt hoa quả
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c308/Dao-nao-keo-thot.html?utm_campaign=menu_global">
                                        Dao, nạo, kéo, thớt
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c309/Do-xay-tron-da-nang.html?utm_campaign=menu_global">
                                        Đồ xay trộn đa năng
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c312/Bep-Lo.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Bếp, Lò</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c313/Bep-gas.html?utm_campaign=menu_global">
                                        Bếp gas
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c314/Bep-tu.html?utm_campaign=menu_global">
                                        Bếp từ
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c315/Bep-hong-ngoai.html?utm_campaign=menu_global">
                                        Bếp hồng ngoại
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c316/Lo-nuong-lo-vi-song.html?utm_campaign=menu_global">
                                        Lò nướng, lò vi sóng
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <ul class="hot-list rs"></ul>
                </ul>
            </div>
            <div class="h-cate-item dock-bottom">
                <a href="javascript:void(0)" class="parent-cate">
                    <i class="icons iCate2 bao-quan-thuc-pham"></i>Bảo quản thực phẩm
                </a>
                <ul class="rs list-subcate wrap-col list-subcate-col-2">
                    <li class="list-col list-col-l make-left">
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c318/Hop-dung-com-trua.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Hộp đựng cơm trưa </a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class=" highlight_menu " href="/c319/Hop-com-tu-nau.html?utm_campaign=menu_global">
                                        Hộp cơm tự nấu
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c320/Hop-com-dung-cho-lo-vi-song.html?utm_campaign=menu_global">
                                        Hộp cơm dùng cho lò vi sóng
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c321/Hop-com-giu-nhiet.html?utm_campaign=menu_global">
                                        Hộp cơm giữ nhiệt
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c322/Hop-com-cam-dien.html?utm_campaign=menu_global">
                                        Hộp cơm cắm điện
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c323/Hop-bao-quan.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Hộp bảo quản</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c595/Hop-bao-quan-khac.html?utm_campaign=menu_global">
                                        Hộp bảo quản khác
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c326/Dung-cho-lo-vi-song.html?utm_campaign=menu_global">
                                        Dùng cho lò vi sóng
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c327/Hop-chong-tran.html?utm_campaign=menu_global">
                                        Hộp chống tràn
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c328/Lo-Hu.html?utm_campaign=menu_global">
                                        Lọ &amp; Hũ
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-col list-col-r make-left">
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c329/Vat-dung-xep-do.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Vật dụng xếp đồ</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c592/Ke-dung-bat-dia.html?utm_campaign=menu_global">
                                        Kệ đựng bát đĩa
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c594/Vat-dung-chua-do-khac.html?utm_campaign=menu_global">
                                        Vật dụng chứa đồ khác
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c336/Do-dung-bao-quan-khac.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Đồ dùng bảo quản khác</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c337/Mang-boc.html?utm_campaign=menu_global">
                                        Màng bọc
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c338/Tui-bao-quan.html?utm_campaign=menu_global">
                                        Túi bảo quản
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c339/Binh-giu-nhiet.html?utm_campaign=menu_global">
                                        Bình giữ nhiệt
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <ul class="hot-list rs"></ul>
                </ul>
            </div>
            <div class="h-cate-item dock-bottom">
                <a href="javascript:void(0)" class="parent-cate">
                    <i class="icons iCate2 do-dien-nha-bep"></i>Đồ điện nhà bếp
                </a>
                <ul class="rs list-subcate wrap-col list-subcate-col-2">
                    <li class="list-col list-col-l make-left">
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c342/Do-gia-dung-nha-bep.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Đồ gia dụng nhà bếp</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c344/Noi-com-dien-Noi-hap.html?utm_campaign=menu_global">
                                        Nồi cơm điện &amp; Nồi hấp
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c347/Bep-tu-Bep-hong-ngoai.html?utm_campaign=menu_global">
                                        Bếp từ, Bếp hồng ngoại
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c349/May-pha-ca-phe-Phu-kien.html?utm_campaign=menu_global">
                                        Máy pha cà phê &amp; Phụ kiện
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c351/May-xay-tron.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Máy xay trộn</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c585/May-lam-kem.html?utm_campaign=menu_global">
                                        Máy làm kem
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c352/May-xay-sinh-to.html?utm_campaign=menu_global">
                                        Máy xay sinh tố
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c353/May-xay-da-nang.html?utm_campaign=menu_global">
                                        Máy xay đa năng
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c354/May-danh-trung.html?utm_campaign=menu_global">
                                        Máy đánh trứng
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c355/May-lam-sua-chua-sua-dau-nanh.html?utm_campaign=menu_global">
                                        Máy làm sữa chua, sữa đậu nành
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-col list-col-r make-left">
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c357/Gia-dung-lon.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Gia dụng lớn</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c358/Tu-lanh-Tu-dong.html?utm_campaign=menu_global">
                                        Tủ lạnh, Tủ đông
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c359/Lo-nuong-Lo-vi-song.html?utm_campaign=menu_global">
                                        Lò nướng, Lò vi sóng
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c360/May-hut-mui-rua-bat.html?utm_campaign=menu_global">
                                        Máy hút mùi, rửa bát
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c361/Gia-dung-lon-khac.html?utm_campaign=menu_global">
                                        Gia dụng lớn khác
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <ul class="hot-list rs"></ul>
                </ul>
            </div>
            <div class="h-cate-item dock-bottom">
                <a href="javascript:void(0)" class="parent-cate">
                    <i class="icons iCate2 do-dung-lam-banh"></i>Đồ dùng làm bánh
                </a>
                <ul class="rs list-subcate wrap-col list-subcate-col-2">
                    <li class="list-col list-col-l make-left">
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c363/Khuon-khay-lam-banh.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Khuôn, khay làm bánh</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c364/Khuon-lam-banh-gato.html?utm_campaign=menu_global">
                                        Khuôn làm bánh gato
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c366/Khuon-banh-truyen-thong.html?utm_campaign=menu_global">
                                        Khuôn bánh truyền thống
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c367/Khuon-banh-cupcake-pie-Muffin-Tart.html?utm_campaign=menu_global">
                                        Khuôn bánh cupcake, pie, Muffin, Tart
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c368/Khay-nuong-banh.html?utm_campaign=menu_global">
                                        Khay nướng bánh
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c369/Dung-cu-lam-banh.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Dụng cụ làm bánh</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c371/Dung-cu-ray-tron-vet-can-bot.html?utm_campaign=menu_global">
                                        Dụng cụ rây, trộn, vét, cán bột
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c372/Dung-cu-trang-tri.html?utm_campaign=menu_global">
                                        Dụng cụ trang trí
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-col list-col-r make-left">
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c373/May-moc-thiet-bi.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Máy móc, thiết bị</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c374/Can-dong-do-nhiet.html?utm_campaign=menu_global">
                                        Cân, đong, đo nhiệt
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c375/Can-vi-luong-can-mini.html?utm_campaign=menu_global">
                                        Cân vi lượng, cân mini
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c376/May-danh-trung-va-tron-bot.html?utm_campaign=menu_global">
                                        Máy đánh trứng và trộn bột
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c377/Lo-nuong.html?utm_campaign=menu_global">
                                        Lò nướng
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <ul class="hot-list rs"></ul>
                </ul>
            </div>
        </div>
        <div class="h-cate-section">
            <div class="h-cate-item dock-bottom">
                <a href="/danh-muc/c-192/do-dung-gia-dinh.html" class="parent-cate">
                    <i class="icons iCate2 do-dung-gia-dinh"></i>
                    Đồ dùng gia đình
                </a>
                <ul class="rs list-subcate wrap-col list-subcate-col-2">
                    <li class="list-col list-col-l make-left">
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c546/Dung-cu-va-thiet-bi.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Dụng cụ và thiết bị</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c598/San-pham-tien-ich.html?utm_campaign=menu_global">
                                        Sản phẩm tiện ích
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c547/Cac-loai-choi.html?utm_campaign=menu_global">
                                        Các loại chổi
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c548/San-pham-ve-sinh-nha.html?utm_campaign=menu_global">
                                        Sản phẩm vệ sinh nhà
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c549/Ban-ui-cau-la.html?utm_campaign=menu_global">
                                        Bàn ủi, cầu là
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c554/Den.html?utm_campaign=menu_global">
                                        Đèn
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c550/Phu-kien-giat-phoi-quan-ao.html?utm_campaign=menu_global">
                                        Phụ kiện giặt phơi quần áo
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c551/Ngoai-troi-va-san-vuon.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Ngoài trời và sân vườn</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c552/Do-dung-lam-vuon.html?utm_campaign=menu_global">
                                        Đồ dùng làm vườn
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c553/Do-dung-kim-khi.html?utm_campaign=menu_global">
                                        Đồ dùng kim khí
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-col list-col-r make-left">
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c555/Do-dung-nho.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Đồ dùng nhỏ</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c556/Do-dung-phong-tam.html?utm_campaign=menu_global">
                                        Đồ dùng phòng tắm
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c557/Do-dung-phong-khach.html?utm_campaign=menu_global">
                                        Đồ dùng phòng khách
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c558/Do-dung-phong-ngu.html?utm_campaign=menu_global">
                                        Đồ dùng phòng ngủ
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c560/Do-dung-nho-khac.html?utm_campaign=menu_global">
                                        Đồ dùng nhỏ khác
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <ul class="hot-list rs"></ul>
                </ul>
            </div>
            <div class="h-cate-item dock-bottom">
                <a href="/danh-muc/c-43/dien-tu-dien-lanh.html" class="parent-cate">
                    <i class="icons iCate2 dien-tu-dien-lanh"></i>
                    Điện tử, điện lạnh
                </a>
                <ul class="rs list-subcate wrap-col list-subcate-col-2">
                    <li class="list-col list-col-l make-left">
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c516/Do-gia-dung.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Đồ gia dụng</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c517/Ban-la-may-say-toc.html?utm_campaign=menu_global">
                                        Bàn là, máy sấy tóc
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c519/Binh-sieu-toc-thuy-dien.html?utm_campaign=menu_global">
                                        Bình siêu tốc, thủy điện
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c521/Bep-tu-Bep-hong-ngoai.html?utm_campaign=menu_global">
                                        Bếp từ &amp; Bếp hồng ngoại
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c522/Noi-com-noi-hap.html?utm_campaign=menu_global">
                                        Nồi cơm, nồi hấp
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c523/Vi-nuong-bep-nuong.html?utm_campaign=menu_global">
                                        Vỉ nướng, bếp nướng
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c524/Do-cong-nghe.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Đồ công nghệ</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class=" highlight_menu " href="/c721/Chuyen-trang-samsung.html?utm_campaign=menu_global">
                                        Chuyên trang samsung
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c525/Dien-thoai.html?utm_campaign=menu_global">
                                        Điện thoại
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c526/May-tinh-bang.html?utm_campaign=menu_global">
                                        Máy tính bảng
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c527/May-tinh-Laptop.html?utm_campaign=menu_global">
                                        Máy tính &amp; Laptop
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c528/May-anh.html?utm_campaign=menu_global">
                                        Máy ảnh
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c529/Thiet-bi-van-phong.html?utm_campaign=menu_global">
                                        Thiết bị văn phòng
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-col list-col-r make-left">
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c530/Do-dien-tu.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Đồ điện tử</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c587/Quat.html?utm_campaign=menu_global">
                                        Quạt
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c588/Cay-nuoc-May-loc-nuoc.html?utm_campaign=menu_global">
                                        Cây nước &amp; Máy lọc nước
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c599/May-quay-camera-theo-doi.html?utm_campaign=menu_global">
                                        Máy quay, camera theo dõi
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c531/Dieu-hoa-May-lanh.html?utm_campaign=menu_global">
                                        Điều hòa, Máy lạnh
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c533/May-giat.html?utm_campaign=menu_global">
                                        Máy giặt
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c536/May-hut-am-May-tao-am.html?utm_campaign=menu_global">
                                        Máy hút ẩm &amp; Máy tạo ẩm
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c537/May-loc-khong-khi.html?utm_campaign=menu_global">
                                        Máy lọc không khí
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c539/Quat-suoi-Den-suoi.html?utm_campaign=menu_global">
                                        Quạt sưởi &amp; Đèn sưởi
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c540/May-rua-bat-say-bat.html?utm_campaign=menu_global">
                                        Máy rửa bát, sấy bát
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c541/Phu-kien-cong-nghe.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Phụ kiện công nghệ</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c542/Phu-kien-dien-thoai.html?utm_campaign=menu_global">
                                        Phụ kiện điện thoại
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c543/Thiet-bi-am-thanh.html?utm_campaign=menu_global">
                                        Thiết bị âm thanh
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c544/Phu-kien-may-tinh.html?utm_campaign=menu_global">
                                        Phụ kiện máy tính
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c545/Phu-kien-may-anh.html?utm_campaign=menu_global">
                                        Phụ kiện máy ảnh
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <ul class="hot-list rs"></ul>
                </ul>
            </div>
            <div class="h-cate-item dock-bottom">
                <a href="/danh-muc/c-96/thoi-trang-sac-dep.html" class="parent-cate">
                    <i class="icons iCate2 thoi-trang-sac-dep"></i>
                    Thời trang, sắc đẹp
                </a>
                <ul class="rs list-subcate wrap-col list-subcate-col-2">
                    <li class="list-col list-col-l make-left">
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c714/Goc-do-da.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Góc đồ da</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c715/Vi-da.html?utm_campaign=menu_global">
                                        Ví da
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c716/Tui-da.html?utm_campaign=menu_global">
                                        Túi da
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c718/Balo-da.html?utm_campaign=menu_global">
                                        Balo da
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c719/Giay-da.html?utm_campaign=menu_global">
                                        Giày da
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c717/Phu-kien-do-da.html?utm_campaign=menu_global">
                                        Phụ kiện đồ da
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c497/Thoi-trang.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Thời trang</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c498/Thoi-trang-nu.html?utm_campaign=menu_global">
                                        Thời trang nữ
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c499/Thoi-trang-nam.html?utm_campaign=menu_global">
                                        Thời trang nam
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c657/Thoi-trang-be-gai.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Thời trang bé gái</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c658/Vay-dam-be-gai.html?utm_campaign=menu_global">
                                        Váy, đầm bé gái
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c659/Ao-quan-be-gai.html?utm_campaign=menu_global">
                                        Áo, quần bé gái
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c660/Giay-dep-be-gai.html?utm_campaign=menu_global">
                                        Giày dép bé gái
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-col list-col-r make-left">
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c501/Lam-dep.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Làm đẹp</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c502/Trang-diem.html?utm_campaign=menu_global">
                                        Trang điểm
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c503/Duong-da.html?utm_campaign=menu_global">
                                        Dưỡng da
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c504/Cham-soc-toc.html?utm_campaign=menu_global">
                                        Chăm sóc tóc
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c701/Cham-soc-co-the.html?utm_campaign=menu_global">
                                        Chăm sóc cơ thể
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c506/Kem-cho-be.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Kem cho bé</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c712/Kem-chong-nang-cho-be.html?utm_campaign=menu_global">
                                        Kem chống nắng cho bé
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c510/Phan-rom.html?utm_campaign=menu_global">
                                        Phấn rôm
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c511/Nuoc-hoa.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Nước hoa</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c513/Eau-de-Parfume.html?utm_campaign=menu_global">
                                        Eau de Parfume
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c514/Eau-de-Toilette.html?utm_campaign=menu_global">
                                        Eau de Toilette
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <ul class="hot-list rs"></ul>
                </ul>
            </div>
            <div class="h-cate-item dock-bottom">
                <a href="/danh-muc/c-164/suc-khoe-gia-dinh.html" class="parent-cate">
                    <i class="icons iCate2 suc-khoe-gia-dinh"></i>
                    Sức khỏe gia đình
                </a>
                <ul class="rs list-subcate wrap-col list-subcate-col-2">
                    <li class="list-col list-col-l make-left">
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c399/Thiet-bi-y-te.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Thiết bị y tế</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class=" highlight_menu " href="/c400/Thiet-bi-y-te-tieu-chuan-EU.html?utm_campaign=menu_global">
                                        Thiết bị y tế tiêu chuẩn EU
                                    </a>
                                </li>
                                <li>
                                    <a class=" highlight_menu " href="/c401/Nhiet-ke-dien-tu-sieu-nhay.html?utm_campaign=menu_global">
                                        Nhiệt kế điện tử siêu nhạy
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c402/May-do-huyet-ap.html?utm_campaign=menu_global">
                                        Máy đo huyết áp
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c404/May-xong-mui-hong.html?utm_campaign=menu_global">
                                        Máy xông mũi, họng
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c405/Can-suc-khoe-dien-tu.html?utm_campaign=menu_global">
                                        Cân sức khỏe điện tử
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c406/Dai-ho-tro-thoat-vi-dia-dem.html?utm_campaign=menu_global">
                                        Đai hỗ trợ thoát vị đĩa đệm
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c591/Thiet-bi-y-te-khac.html?utm_campaign=menu_global">
                                        Thiết bị y tế khác
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c407/Den-hong-ngoai.html?utm_campaign=menu_global">
                                        Đèn hồng ngoại
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c408/May-hut-dich-hut-mui.html?utm_campaign=menu_global">
                                        Máy hút dịch, hút mũi
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c409/Den-soi-tai.html?utm_campaign=menu_global">
                                        Đèn soi tai
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c410/Thuc-pham-chuc-nang.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Thực phẩm chức năng</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c411/Vitamin.html?utm_campaign=menu_global">
                                        Vitamin
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c412/Ho-tro-giam-beo.html?utm_campaign=menu_global">
                                        Hỗ trợ giảm béo
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c413/Ho-tro-chuc-nang.html?utm_campaign=menu_global">
                                        Hỗ trợ chức năng
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c713/Thuc-pham-bo-duong.html?utm_campaign=menu_global">
                                        Thực phẩm bổ dưỡng
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-col list-col-r make-left">
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c415/Dung-cu-tap.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Dụng cụ tập</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c416/Yoga.html?utm_campaign=menu_global">
                                        Yoga
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c418/Phu-kien-tap.html?utm_campaign=menu_global">
                                        Phụ kiện tập
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c420/Thiet-bi-lam-dep.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Thiết bị làm đẹp</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c421/May-massge-toan-than-lam-dep-co-the.html?utm_campaign=menu_global">
                                        Máy massge toàn thân, làm đẹp cơ thể
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c422/Dung-cu-tao-kieu-toc.html?utm_campaign=menu_global">
                                        Dụng cụ tạo kiểu tóc
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <ul class="hot-list rs"></ul>
                </ul>
            </div>
            <div class="h-cate-item dock-bottom">
                <a href="/danh-muc/c-41/me-va-be.html" class="parent-cate">
                    <i class="icons iCate2 me-va-be"></i>
                    Mẹ và bé
                </a>
                <ul class="rs list-subcate wrap-col list-subcate-col-2">
                    <li class="list-col list-col-l make-left">
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c425/Be-an.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Bé ăn</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c436/Dung-cu-an-uong.html?utm_campaign=menu_global">
                                        Dụng cụ ăn uống
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c444/May-xay-va-dung-cu-che-bien-an-dam.html?utm_campaign=menu_global">
                                        Máy xay và dụng cụ chế biến ăn dặm
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c452/Be-mac.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Bé mặc</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c458/Thoi-trang-cho-be.html?utm_campaign=menu_global">
                                        Thời trang cho bé
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c461/Phu-kien-cho-be.html?utm_campaign=menu_global">
                                        Phụ kiện cho bé
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-col list-col-r make-left">
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c465/Do-choi-Do-dung-cho-be.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Đồ chơi , Đồ dùng cho bé</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c466/Be-hoc-tap.html?utm_campaign=menu_global">
                                        Bé học tập
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c470/Do-choi-cho-be.html?utm_campaign=menu_global">
                                        Đồ chơi cho bé
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c476/Noi-that-phong-be.html?utm_campaign=menu_global">
                                        Nội thất phòng bé
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c481/Xe-va-thiet-bi-an-toan.html?utm_campaign=menu_global">
                                        Xe và thiết bị an toàn
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-item">
                            <div class="wrap-title">
                                <a href="/c486/Danh-cho-me-bau-va-sau-sinh.html?utm_campaign=menu_global" class="notificate-title fs-15 fc-black">Dành cho mẹ bầu và sau sinh</a>
                            </div>
                            <ul class="rs">
                                <li>
                                    <a class="" href="/c487/Danh-cho-me-bau.html?utm_campaign=menu_global">
                                        Dành cho mẹ bầu
                                    </a>
                                </li>
                                <li>
                                    <a class="" href="/c492/Danh-cho-me-sau-sinh.html?utm_campaign=menu_global">
                                        Dành cho mẹ sau sinh
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <ul class="hot-list rs"></ul>
                </ul>
            </div>
        </div>
    </div>
</div>