<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="IvenCurrentInStock" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="StoreChange" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="StoreChangeDetail" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PriceAverage" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model1" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;password=scm_sprint@123;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="OutputVoucher" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="OutputVoucherDetail" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PurcOrder" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="OrderInvoiceVAT" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TransportType" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LinkDownloadFile" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Promotion" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PromotionType" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PromotionOutputType" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PromotionStore" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PromotionProductApply" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PromotionProductOffer" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PromotionProductSamePrice" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PromotionFollow" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PromotionManufacturer" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PromotionCategory" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ProductGift" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="InputOrder" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="OutputSaleDiscount" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="OutputSaleDetail" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="InputOrderDetail" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Customer" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PromotionSMSCoupon" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PurcOrderStatus" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PurcOrderTypes" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="OutputSale" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="InputTransfer" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="OutputOrder" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PayFormType" connectionString="data source=10.10.11.152;initial catalog=SaleChainManagement_Sprint;persist security info=True;user id=scm_sprint1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>