<div id="banner-slide" class="banner-slide">
    <div class="viewport">
        <!-- Swiper -->
        <div class="banner-mobile homeSlider swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <!-- Required swiper-lazy class and image source specified in data-src attribute -->
                    <img data-src="/UploadedFiles/slides/promotions-hot/1.jpg" class="swiper-lazy" style="width:100%;">
                    <!-- Preloader image -->
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
                <div class="swiper-slide">
                    <img data-src="/UploadedFiles/slides/promotions-hot/2.jpg" class="swiper-lazy" style="width:100%;">
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
                <div class="swiper-slide">
                    <img data-src="/UploadedFiles/slides/promotions-hot/3.jpg" class="swiper-lazy" style="width:100%;">
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white" style="bottom:20px;"></div>
            <!-- Navigation -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div> 
    </div>
</div>
 