<div class="make-left banner-1" style="height: 437px;">
    <div id="banner-slide" class="banner-slide">
        <div class="viewport">
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <!-- Required swiper-lazy class and image source specified in data-src attribute -->
                        <img data-src="/UploadedFiles/slides/promotions-hot/1.jpg" class="swiper-lazy" style="width:100%;">
                        <!-- Preloader image -->
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                    <div class="swiper-slide">
                        <img data-src="/UploadedFiles/slides/promotions-hot/2.jpg" class="swiper-lazy" style="width:100%;">
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                    <div class="swiper-slide">
                        <img data-src="/UploadedFiles/slides/promotions-hot/3.jpg" class="swiper-lazy" style="width:100%;">
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination swiper-pagination-white" style="bottom:20px;"></div>
                <!-- Navigation -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div> 
        </div>
    </div>
</div>
@*<div class="make-left banner-1" style="height: 323px;">
        <div id="banner-slide" class="banner-slide">
            <div class="viewport">
                <ul class="overview" style="width: 4880px; left: -3050px;">
                    <li class="sys_banner_center" data-id="2104" data-position="1" style="height: 323px;">
                        <a href="#" target="_blank">
                            <img class="img-overlay" src="~/assets/images/null.gif" style="background-image: url('/UploadedFiles/slides/promotions-hot/1.jpg')" />
                        </a>
                    </li>
                    <li class="sys_banner_center" data-id="2107" data-position="2" style="height: 323px;">
                        <a href="#" target="_blank">
                            <img class="img-overlay" src="~/assets/images/null.gif" style="background-image: url('/UploadedFiles/slides/promotions-hot/2.jpg')" />
                        </a>
                    </li>
                    <li class="sys_banner_center" data-id="2089" data-position="3" style="height: 323px;">
                        <a href="#" target="_blank">
                            <img class="img-overlay" src="~/assets/images/null.gif" style="background-image: url('/UploadedFiles/slides/promotions-hot/3.jpg')" />
                        </a>
                    </li>
                </ul>
            </div>
            <a class="icon iAL3 buttons prev" href="#"></a>
            <a class="icon iAR5 buttons next" href="#"></a>
            <!-- Bullets -->
            <ul class="bullets">
                <li><a href="Thuc-pham/p-443/Haloween-Duoi-ta-ma-Sale-bat-chap.html" target="_blank" class="bullet  active " data-slide="0"></a></li>
                <li><a href="Thuc-pham/p-444/Xa-kho-gia-dung-tien-ich-Gia-tot-Hot-lien-tay.html" target="_blank" class="bullet " data-slide="1"></a></li>
                <li><a href="Thuc-pham/p-430/Vao-bep-Nemo-can-gi-co-do.html" target="_blank" class="bullet " data-slide="2"></a></li>
            </ul>
        </div>
    </div>*@
@*<div class="make-left banner-1" style="height: 437px;">
        <div id="banner-slide" class="banner-slide">
            <div class="viewport">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/UploadedFiles/slides/promotions-hot/1.jpg" alt="Los Angeles" style="width:100%;max-height:437px;">
                        </div>

                        <div class="item">
                            <img src="~/UploadedFiles/slides/promotions-hot/2.jpg" alt="Chicago" style="width:100%;max-height:437px;">
                        </div>
                        <div class="item">
                            <img src="~/UploadedFiles/slides/promotions-hot/3.jpg" alt="New York" style="width:100%;max-height:437px;">
                        </div>

                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>*@
