<div class="row">
    <div class="slider_wrap">
        <div class="slider_wrap_inner">
            <div class="category-head-mobile popular-list__slider bg-white swiper-container swiper-container-horizontal">
                <ul class="rs ta-c swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                    <li class="swiper-slide swiper-slide-active" style="width: 60.6px;">
                        <a href="https://nemo.vn/p398/hoa-qua-tuoi-100-nhap-khau.html">
                            <i class="icon iCate" style="background-image: url('https://nemo.vn/assets/v9/images/nemo/fruit.png?v=1');"></i>
                            <h4 class="rs fs-9 fw-rb">Hoa quả tươi</h4>
                        </a>
                    </li>
                    <li class="swiper-slide swiper-slide-next" style="width: 60.6px;">
                        <a href="https://nemo.vn/danh-muc/c-186/vat-dung-nha-bep-nhat.html">
                            <i class="icon iCate" style="background-image: url('https://static11.muachungcdn.com/original/i:plaza/category/category/-0--0-vatdungnhabep-149881729915624-150596767272471/vat-dung-nha-bep-nhat.png');"></i>
                            <h4 class="rs fs-9 fw-rb">Vật dụng nhà bếp Nhật</h4>
                        </a>
                    </li>
                    <li class="swiper-slide" style="width: 60.6px;">
                        <a href="https://nemo.vn/danh-muc/c-192/do-dung-gia-dinh.html">
                            <i class="icon iCate" style="background-image: url('https://static11.muachungcdn.com/original/i:plaza/category/category/-0--0-dodunggiadinh-149881728310193-150596761339291/do-dung-gia-dinh.png');"></i>
                            <h4 class="rs fs-9 fw-rb">Đồ dùng gia đình</h4>
                        </a>
                    </li>
                    <li class="swiper-slide" style="width: 60.6px;">
                        <a href="https://nemo.vn/danh-muc/c-43/dien-tu-dien-lanh.html">
                            <i class="icon iCate" style="background-image: url('https://static11.muachungcdn.com/original/i:plaza/category/category/-0--0-dientucn-149881404474587-150596786574413/dien-tu-dien-lanh.png');"></i>
                            <h4 class="rs fs-9 fw-rb">Điện tử, điện lạnh</h4>
                        </a>
                    </li>
                    <li class="swiper-slide" style="width: 60.6px;">
                        <a href="https://nemo.vn/danh-muc/c-86/goc-nau-nuong.html">
                            <i class="icon iCate" style="background-image: url('https://static11.muachungcdn.com/original/i:plaza/category/category/-0--0-giadungnt-149881398974171-150596781910664/goc-nau-nuong.png');"></i>
                            <h4 class="rs fs-9 fw-rb">Góc nấu nướng</h4>
                        </a>
                    </li>
                    <li class="swiper-slide" style="width: 60.6px;">
                        <a href="https://nemo.vn/danh-muc/c-96/thoi-trang-sac-dep.html">
                            <i class="icon iCate" style="background-image: url('https://static11.muachungcdn.com/original/i:plaza/category/category/-0--0-thoitrang-149881394814782-150596777252162/thoi-trang-sac-dep.png');"></i>
                            <h4 class="rs fs-9 fw-rb">Thời trang, sắc đẹp</h4>
                        </a>
                    </li>
                    <li class="swiper-slide" style="width: 60.6px;">
                        <a href="https://nemo.vn/danh-muc/c-164/suc-khoe-gia-dinh.html">
                            <i class="icon iCate" style="background-image: url('https://static11.muachungcdn.com/original/i:plaza/category/category/-0--0-lamdepsk-149881391817747-150596773065557/suc-khoe-gia-dinh.png');"></i>
                            <h4 class="rs fs-9 fw-rb">Sức khỏe gia đình</h4>
                        </a>
                    </li>
                    <li class="swiper-slide" style="width: 60.6px;">
                        <a href="https://nemo.vn/danh-muc/c-41/me-va-be.html">
                            <i class="icon iCate" style="background-image: url('https://static11.muachungcdn.com/original/i:plaza/category/category/-0--0-mevabe-149881407615878-150596791324715/me-va-be.png');"></i>
                            <h4 class="rs fs-9 fw-rb">Mẹ và bé</h4>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> 