<div class="header-bottom">
    <div class="container clearfix">
        <div class="make-left wrap-categories "> 
            <div class="lbl-lst-cates fw-rb"><i class="icons iMenu"></i>Danh mục</div> 
            @Html.Partial("~/Views/Shared/Detail/_Menu.cshtml")
        </div><!--endL .wrap-categories-->
        <ul class="make-left news-menu rs">
            <li>
                <a href="san-pham-ban-chay.html">Bán chạy</a>
            </li>
        </ul>
        <div class="make-right">
            <div class="h-cskh">
                <div class="show-val">
                    <i class="icons iChat"></i>
                    <span class="fs-14 fc-blue4" style="cursor: pointer" id="sys_open_chatbox">Chat với tư vấn viên</span>
                </div>
            </div>
        </div>
    </div>
</div>


    